doctype html
html(lang="ru")
    head
        include head
        script(src="calc.js")
    body
        include menu

        .container.pt-5
            .row
                .col-md-6.offset-md-3
                    h1 Калькулятор
                    small.text-body-secondary Риски и прибыли
                    hr
            .row
                .col-md-6.offset-md-3(style="text-align: justify")
                    h4 Стратегия Ice Cube
                    p.
                        Этот калькулятор поможет оценить риски и возможные прибыли при использовании
                        алгоритма.
                    hr
            .row
                .col-md-6.offset-md-3
                    form#calc.mb-5(onchange="calc()")
                        .mb-3
                            label(for="calc-capital").form-label Размер капитала
                            input#calc-capital.form-control.border-primary.text-primary(type="number" name="capital")
                        .form-label Риск на одну сделку
                        .input-group.mb-3
                            .btn-group(role="group")
                                input#calc-risk-3.btn-check(type="radio" name="risk" value="3")
                                label.btn.btn-outline-primary(for="calc-risk-3") 3 %
                                input#calc-risk-5.btn-check(type="radio" name="risk" value="5")
                                label.btn.btn-outline-primary(for="calc-risk-5") 5 %
                                input#calc-risk-10.btn-check(type="radio" name="risk" value="10")
                                label.btn.btn-outline-primary(for="calc-risk-10") 10 %
                                input#calc-risk-15.btn-check(type="radio" name="risk" value="15")
                                label.btn.btn-outline-primary(for="calc-risk-15") 15 %
                                input#calc-risk-20.btn-check(type="radio" name="risk" value="20")
                                label.btn.btn-outline-primary(for="calc-risk-20") 20 %
                                input#calc-risk-25.btn-check(type="radio" name="risk" value="25")
                                label.btn.btn-outline-primary(for="calc-risk-25") 25 %
                                input#calc-risk-33.btn-check(type="radio" name="risk" value="33")
                                label.btn.btn-outline-primary(for="calc-risk-33") 33 %
                        .row
                            label.col-sm-5.col-form-label(for="calc-result-amount") Процент годовых
                            .col-sm-7
                                input#calc-result-percent.form-control-plaintext(
                                    type="text"
                                    readonly
                                    value="укажите капитал и риск"
                                )
                        .row
                            label.col-sm-5.col-form-label(for="calc-result-amount") Итоговый капитал
                            .col-sm-7
                                input#calc-result-amount.form-control-plaintext(
                                    type="text"
                                    readonly
                                    value="укажите капитал и риск"
                                )
                            .form-text.mt-0.mb-4 Среднегодовой уровень в случае успеха, комиссии включены
                        .row.mb-3
                            hr
                            h6 Характеристики алгоритма
                        .row
                            label.col-sm-5.col-form-label(for="calc-ticker") Торговая пара
                            .col-sm-7
                                input#calc-ticker.form-control-plaintext(type="text" readonly value="BTC-USDT")
                        .row
                            label.col-sm-5.col-form-label(for="calc-risk-average") Средний уровень риска
                            .col-sm-7
                                input#calc-risk-average.form-control-plaintext(
                                    type="text"
                                    readonly value="1 к 4"
                                    name="riskAverage"
                                )
                        .row
                            label.col-sm-5.col-form-label(for="calc-deals-average") Сделок ежегодно
                            .col-sm-7
                                input#calc-deals-average.form-control-plaintext(type="text" readonly value="18.5")
                        .row
                            label.col-sm-5.col-form-label(for="calc-deals-average-month") Сделок ежемесячно
                            .col-sm-7
                                input#calc-deals-average-month.form-control-plaintext(type="text" readonly value="1.5")
                        .row
                            label.col-sm-5.col-form-label(for="calc-deals-success") Процент успешных
                            .col-sm-7
                                input#calc-deals-success.form-control-plaintext(type="text" readonly value="45.1")
                        .row
                            label.col-sm-5.col-form-label(for="calc-deals-fail") Процент не успешных
                            .col-sm-7
                                input#calc-deals-fail.form-control-plaintext(type="text" readonly value="21.6")
                        .row
                            label.col-sm-5.col-form-label(for="calc-deals-zero") Процент выхода в 0
                            .col-sm-7
                                input#calc-deals-zero.form-control-plaintext(type="text" readonly value="33,3")
                        .row
                            label.col-sm-5.col-form-label(for="calc-squeeze") Скольжение
                            .col-sm-7
                                input#calc-squeeze.form-control-plaintext(
                                    type="text"
                                    readonly
                                    name="squeeze"
                                    value="0.5 %"
                                )
                            .form-text.mt-0 Уровень средних проскальзываний на сделку целиком
                                br
                                | + комиссии биржи и биржевой фандинг

            .row
                .col-md-6.offset-md-3(style="text-align: justify")
                    hr
                    h4 Пояснения
                    p.
                        Изменения рисков в процессе по инициативе клиента -
                        стратегия предполагает что выбранный уровень риска не будет меняться в течении
                        использования алгоритма - изменения уровня в зависимости от результатов приводит
                        к непредсказуемому результату и является ошибкой риск-менеджмента, потому
                        следует заранее определиться с уровнями и не менять их как минимум в течении
                        6 месяцев с момента запуска. Однако ввод и вывод средств не повлияют на результат.
                    p.
                        Следует учитывать что это усредненная прибыль, она может колебаться как в большую,
                        также и в меньшую сторону, при этом сделки могут быть сгруппированы и отсутствовать
                        несколько месяцев, но среднегодовая прибыль предполагается близкой к данным
                        калькулятора.
                    p.
                        Имеется возможность выбрать режим работы торгового бота - с холодным кошельком или без.
                        Холодный кошелек позволит сохранить часть средств в случае возникновения ситуаций
                        уровня черного лебедя - взлом биржи, бота, резких движений цен уровня ковида и прочих ситуаций,
                        однако это потребует ручных операций по вводу-выводу со счета после каждой сделки, что
                        может быть не удобно. Если деньги на счету уже являются безопасным лимитом - это
                        не обязательно.
                    p.
                        Предполагается что бот будет торговать средствами клиента через ключ доступа,
                        который будет иметь разрешение на торги, но не на ввод и вывод, для обеспечения
                        дополнительной безопасности и наличия красной кнопки остановки - отключение ключа
                        остановит все сделки бота на случай какой-либо нештатной ситуации. Оплата комиссионных
                        производится по факту сделки.
                    p.
                        Увеличение уровня риска до высоких значений увеличивает риск потерь в случае резких
                        движений цены т.к. стоп-лосс ордер по рынку может проскользить до уровня ликвидации.
                        Следует учитывать риски относительно прибыли. Базовый лимит проскальзывания равен 0.5%
                        движения цены на полную сделку.
                    p.mb-5